{% extends "layout.html" %}

{% block title %} Main {% endblock %}

<!-- Here will be navbar for logged in user, however remove it later! We need a different navbar for logged out user -->

{% block main %}

<div id="welcome">
    <p>{{ welcomeUser }} Welcome to the movie lover community, where you can find people with similar taste and chat with them!</p>
</div>

{% if session['user_id'] %}
    <div id="rated_movies">
        {% for poster, movie in posters.items() %}
        <a href="/movie?url_param={{ movie|urlencode }}&url_param2={{ description|urlencode }}" id="movie_poster"><img class="img-fluid" src="{{ poster }}" alt="Poster"></a>
        {% endfor %}
    </div>
{% endif %}

{% endblock %}