{% extends "layout.html" %}

{% block title %} {{ title }} {% endblock %}

{% block main %}

<div id="movie_info">
    <div id="movie_details">
        <h1>{{ title }}</h1>
        <p>Details: {{ details }}</p>
        <form method="post">
            <label for="rate"></label>
                <select name="rates" id="rates">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select> 
                <input type=submit value="Rate" class="btn btn-primary">
        </form>
        {% if message %}
        <span id="alert"> 
            {{ message }}
        </span>
        {% endif %}
    </div>

    <img src="{{ poster }}" alt="Movie Poster">

</div>

{% endblock %}