{% extends "layout.html" %}

{% block title %} {{ title }} {% endblock %}

{% block main %}

{{ title }}

Details: {{ details }}

<img src="{{ poster }}" alt="Movie Poster">

<form method="post">
    <label for="rate">Rate:</label>
        <select name="rates" id="rates">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select> 
        <input type=submit value="Rate">
</form>

{{ message }}

{% endblock %}