{% extends "layout.html" %}

{% block title %} {{ title }} {% endblock %}

{% block main %}

<div id="movie_info">
    <div id="movie_details">
        <h1>{{ title }}</h1>
        <p>Details: {{ details }}</p>
        <form method="post" id="rates">
            <p id="rate-p"><b>Rate the movie</b></p>
            <label for="rate"></label>
                <div>
                    <button type="submit" name="rates" class="star-button" value="1"><span class="material-symbols-outlined star" id="star1">star</span>
                    <button type="submit" name="rates" class="star-button" value="2"><span class="material-symbols-outlined star" id="star2">star</span>
                    <button type="submit" name="rates" class="star-button" value="3"><span class="material-symbols-outlined star" id="star3">star</span>
                    <button type="submit" name="rates" class="star-button" value="4"><span class="material-symbols-outlined star" id="star4">star</span>
                    <button type="submit" name="rates" class="star-button" value="5"><span class="material-symbols-outlined star" id="star5">star</span>
                </div> 
        </form>
        {% if message %}
        <span id="alert"> 
            {{ message }}
        </span>
        {% endif %}
    </div>

    <img src="{{ poster }}" alt="Movie Poster">

</div>

<script src="../static/functions.js"></script>

{% endblock %}