{% extends "layout.html" %}

{% block title %} {{ people }} {% endblock %}

{% block main %}

 

    <table>
        <tr>
            <th> People you will like </th>
        </tr>

        {% for person, points in people %}
        <tr>
            <td><a class="nav-link" href="/person?url_param={{ person|urlencode }}"> {{ person }} </a></td> 
            <td> {{ points }} </td>
            <td> <a href='/message?url_param={{ person|urlencode }}'>message<a> </td>
        </tr>
        {% endfor %}
        
    </table>

{% endblock %}