{% extends "layout.html" %}

{% block title %} New Friend {% endblock %}

{% block main %}

<h3 class="header"> User: {{ username }} </h3>

<p class="regular_p"> Movies that {{ username }} rated: <p>

<div id="rated_movies">
    {% for poster, movie in posters.items() %}
    <div id="movie_poster">
        <a href="/movie?url_param={{ movie[0]|urlencode }}&url_param2={{ movie[1]|urlencode }}"><img class="img-fluid" src="{{ poster }}" alt="Poster"></a>
        <div class="card-body">
            <h5 class="card-subtitle mb-2 text-body-secondary"> {{ movie[0] }}</h5>
            <p class="card-text">Rated: {{ movie[2] }}</p>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}