{% extends "layout.html" %}

{% block title %} Register {% endblock %}

{% block main %}

<form action="/register" method="post" class="login_form">
    <div class="row">
        <input type="text" class="form-control" placeholder="Username" aria-label="Username" name="username">
        <input type="password" class="form-control" placeholder="Password" aria-label="Password" name="password">
        <input type="password" class="form-control" placeholder="Confirm Password" aria-label="Confirm Password" name="confirmation">
        <input type=submit value=Register class="btn btn-primary" id="registerBtn">
    </div>
    {% if message %}
    <div class="alert alert-dark" role="alert" >
        {{ message }}
    </div>
{% endif %}
</form>

{% endblock %}