{% extends "layout.html" %}

{% block title %} Register {% endblock %}

{% block main %}

{{ message }}

<form action="/register" method="post">
    <input type=text value="Username" name="username">
    <input type=text value="Password" name="password">
    <input type=text value="Confirm Password" name="confirmation">
    <input type=submit value=Register>
</form>

<table>
    <tr>
        <th>Username</th>
        <!-- Add more column headers as needed -->
    </tr>

    {% for row in users %}
    <tr>
        <td>{{ row }}</td>
        <!-- Access other columns using row['column_name'] -->
    </tr>
    {% endfor %}

</table>

{% endblock %}